---
layout: default
---

{% include signup-gray-secondary.html %}

<div class="container-fluid bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-12 pt-3 pb-4">
            	<h2 class="pt-4">Newly added bootstrap templates</h2>
            </div>
        </div>
    </div><!-- newly added wrapper -->
    {% include newly-added-templates.html %}
</div>
<div class="container-fluid">
    <div class="container">
        <div class="row">
    		<div class="col-12 pt-3 pb-4">
    			<h2 class="pt-4">Most popular bootstrap templates</h2>
    		</div><!-- most popular heading -->
        </div>
    </div><!-- most-popular wrapper -->
    {% include most-popular-templates.html %}
</div><!-- .container-fluid .bg-light-gray -->

{% include signup-gray-secondary.html %}
<!-- Footer -->	
{% include footer.html %}
